
<p>
	<% if current_user %>
  	Hi, <%= current_user.name %> !! Start your Shopping
  <% end %>
</p>

<div class="row">
<% @products.each do |p| %>
	<div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <img class="card-img-top image-box" src="<%= p.img_url %>" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a href="/product/index/<%= p.id %>" title="View Product"><%= p.name %></a></h4>
        <p class="card-text"><%= p.description %></p>
        <div class="row">
          <div class="col">
              <p class="btn btn-danger btn-block"><%= p.price %> $</p>
          </div>
          <div class="col">
              <a href="/carts/create/<%= p.id %>" class="btn btn-success btn-block">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
	</div>
<% end %>     
</div>
<%= will_paginate @products ,renderer: BootstrapPagination::Rails %>

