<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cartitems.each do |item| %>
                            <tr>
                                <td><img class = "thumbnail" src="<%= item.product.img_url %>" /> </td>
                                <td><%= item.product.name %></td>
                                <td>In stock</td>
                                <td><input class="form-control" type="text" value="<%= item.quantity %>"/></td>
                                <td class="text-right"> <%= item.product.price %>&#8377</td>
                                <td class="text-right"><a href="/carts/remove/<%= item.product.id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</button> </td>
                            </tr>
                        <% end %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td class="text-right"> <%= @total %>&#8377</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" href = "/index">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success text-uppercase" href = "/payment">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
